<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">SQL Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <%= render(
          partial: "partials/navigation/header_nav_link",
          locals: { name: "Home", path: root_path }
        ) %>
        <%= render(
          partial: "partials/navigation/header_nav_link",
          locals: { name: "Challenges", path: challenges_path }
        ) %>
      </ul>
      <div class="ul navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.email %>
            </a>
            <div class="dropdown-menu" aria-labelledby="userDropdown">
              <p class="dropdown-header">Role: <%= current_user.role.capitalize %></p>
              <div class="dropdown-divider"></div>
              <%= link_to(
                "Sign out",
                users_sign_out_path,
                class: "dropdown-item",
              ) %>
              <%= link_to(
                "Edit profile",
                edit_user_registration_path,
                class: "dropdown-item",
              ) %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to(
              "Sign in",
              new_user_session_path,
              class: "nav-link",
            ) %>
          </li>
        <% end %>
      </div>
    </div>
  </div>
</nav>
