<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Challenges", challenges_path%></li>
    <li class="breadcrumb-item" aria-current="page">
      <%= link_to @challenge.title, challenge_path(@challenge) %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Submissions</li>
  </ol>
</nav>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Grade</th>
      <th>View submission</th>
    </tr>
  </thead>
  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.user.email %></td>
        <td><%= submission.grade %></td>
        <td>
          <%= link_to(
            "View submission",
            [:report, @challenge, submission]
          ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to(
  "Download CSV",
  challenge_submissions_path(@challenge, format: :csv),
  class: "btn btn-primary"
)%>
