<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Challenges", challenges_path%></li>
    <li class="breadcrumb-item" aria-current="page">
      <%= link_to @challenge.title, new_challenge_submission_path(challenge: @challenge) %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Submission result</li>
  </ol>
</nav>

<h1>Summary</h1>
<table class="table">
  <tbody>
    <tr>
      <th>Success</th>
      <td><%= @submission.success %></td>
    </tr>
    <tr>
      <th>Grade</th>
      <td><%= @submission.grade %> / 100.00</td>
    </tr>
  </tbody>
</table>

<h1>Comparison of elements</h1>
<table class="table">
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Submission</th>
      <th>Correct</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Columns</td>
      <td><pre><code><%= @submission.metadata["columns"]["student_columns"] %></code></pre></td>
      <td><pre><code><%= @submission.metadata["columns"]["instructor_columns"] %></code></pre></td>
    </tr>
    <tr>
      <td>Tables</td>
      <td>
        <%= render partial: "tables", locals: {
          tables: @submission.metadata["tables"]["student_tables"],
          depth: 0
        } %>
      </td>
      <td>
        <%= render partial: "tables", locals: {
          tables: @submission.metadata["tables"]["instructor_tables"],
          depth: 0
        } %>
      </td>
    </tr>
    <tr>
      <td>Where</td>
      <td>
        <%= render partial: "where", locals: {
          query: @submission.metadata["where"]["student_where"],
          depth: 0
        } %>
      </td>
            <td>
        <%= render partial: "where", locals: {
          query: @submission.metadata["where"]["instructor_where"],
          depth: 0
        } %>
      </td>
    </tr>
        <tr>
      <td>Order by</td>
      <td><pre><code><%= @submission.metadata["order_by"]["student_order_by"] %></code></pre></td>
      <td><pre><code><%= @submission.metadata["order_by"]["instructor_order_by"] %></code></pre></td>
    </tr>
  </tbody>
</table>
