<h1>Success: <%= @submission.success %></h1>
<table class="table">
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Submission</th>
      <th>Correct</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Columns</td>
      <td><pre><code><%= @submission.metadata["columns"]["student_columns"] %></code></pre></td>
      <td><pre><code><%= @submission.metadata["columns"]["instructor_columns"] %></code></pre></td>
    </tr>
    <tr>
      <td>Order by</td>
      <td><pre><code><%= @submission.metadata["order_by"]["student_order_by"] %></code></pre></td>
      <td><pre><code><%= @submission.metadata["order_by"]["instructor_order_by"] %></code></pre></td>
    </tr>
    <tr>
      <td>Where</td>
      <td>
        <%= render partial: "where", locals: {
          query: @submission.metadata["where"]["student_where"],
          depth: 0
        } %>
      </td>
            <td>
        <%= render partial: "where", locals: {
          query: @submission.metadata["where"]["instructor_where"],
          depth: 0
        } %>
      </td>
    </tr>
  </tbody>
</table>
