<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :content %>
  <%= f.text_area :content, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :sql_schema %>
  <%= f.text_area :sql_schema, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :sql_seed %>
  <%= f.text_area :sql_seed, class: "form-control" %>
</div>
