<h1><%= @challenge.title %></h1>

<hr>

<h3>Content</h3>
<%= @challenge.content %>

<h3>Schema</h3>
<pre><code class="sql"><%= @challenge.sql_schema %></code></pre>

<h3>Seed</h3>
<pre><code class="sql"><%= @challenge.sql_seed %></code></pre>

<h3>Correct Query</h3>
<pre><code class="sql"><%= @challenge.sql_correct_query %></code></pre>

<hr>

<% @challenge.metadata.each do |table| %>
<h3><%= table["name"] %></h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <% table["columns"].each do |column| %>

          <th><%= column.fetch("name") %> <%= column.fetch("type") %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% table["data"].each_with_index do |row, i| %>
        <tr>
          <th scope="row"><%= i %></td>
          <% table["columns"].each do |column| %>
            <td><%= row.fetch(column.fetch("name")) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<hr>

<%= link_to "Edit", edit_challenge_path(id: @challenge), class: "btn btn-primary" %>
