<h1><%= @challenge.title %></h1>

<hr>

<h3>Content</h3>
<%= @challenge.content %>

<h3>Schema</h3>
<pre><code class="sql"><%= @challenge.sql_schema %></code></pre>

<h3>Seed</h3>
<pre><code class="sql"><%= @challenge.sql_seed %></code></pre>

<h3>Correct Query</h3>
<pre><code class="sql"><%= @challenge.sql_correct_query %></code></pre>

<hr>

<%= link_to "Edit", edit_challenge_path(id: @challenge), class: "btn btn-primary" %>
