<!DOCTYPE html>
<html>
  <head>
    <title>SQL grading</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <%= render partial: "partials/navigation/header" %>

    <% if flash[:alert].present? %>
      <div class="alert alert-warning" role="alert">
        <div class="container">
          <%= flash[:alert] %>
        </div>
      </div>
    <% end %>

    <% if flash[:notice].present? %>
      <div class="alert alert-secondary" role="alert">
        <div class="container">
          <%= flash[:notice] %>
        </div>
      </div>
    <% end %>

    <% if flash[:success].present? %>
      <div class="alert alert-success" role="alert">
        <div class="container">
          <%= flash[:success] %>
        </div>
      </div>
    <% end %>

    <div class="container" id="bodyContainer">
      <%= yield %>
    </div>
  </body>

  <%= javascript_pack_tag 'application' %>
</html>
